@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
/* Css pour le header */
.header {
    margin-top: 40px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page-title {
    height: 19px;
}

.nav-item {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-left: 45px;
    padding: 38px;
    
}
.nav-item:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    
}

/* Css pour le menu */
.menu-container {
    margin-top: 60px;
}
.menu-title-container {
    margin-bottom: 20px;
}
.menu-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.menu-sub-title {
    font-size: 16px;
    font-weight: 400;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}
.fa-magnifying-glass {
    display: none;
}
.map-icon {
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}
.fa-location-dot {
    width: 14px;
}
.search-input {
    height: 38px;
    padding: 5px;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
}
.search-button {
    position: relative;
    left: -5px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    margin: 0;background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}
.filter-title {
    margin-right: 40px;
    font-size: 18px;
    font-weight: 700;
}
.filter-item {
    margin-right: 50px;
    height: 45px;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    padding: 0px 20px 0px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.filter-item:hover{
    background-color: #DEEBFF;
    border: 2px solid #D9D9D9;
}
.filter-item > .fa-solid {
    color: #0065FC;
    height: 22px;
    margin-right: 10px;
    position: relative;
    bottom: -2px;
}
.info {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}
.info > .fa-info {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    width: 12px;
    height: 12px;
    padding: 5px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: 10px;
}

/* Css pour le contenu du résultat de recherche */

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    margin-bottom: 60px;
}
.content-result-wrapper {
    grid-column: 1/3;
    background-color: #F2F2F2;
    width: 880px;
    height: 626px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-result {
    width: 100%;
    height: 100%;
}
.content-result-title {
    
    margin: 42px 0px 8px 40px;
}
.card-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card-row:last-of-type {
    margin-bottom: 25px;
}
.card {
    background: white;
    border-radius: 20px;
    width: 246px;
    height: 199px;
    margin: 15px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card > a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.content-show-more {
    margin-left: 44px;
    font-size: 18px;
    font-weight: 700;
}
.card-image {
    min-width: 246px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}
.card-title {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin: 0px 0px 0px 15px;
}
.card-desc {
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 0px 15px;
}
.card-note {
    margin: 0px 0px 0px 15px;
}
.card-note > .fa-star {
    color: #0065FC;   
    font-size: 12px;
}
.card-note > .fa-star:last-of-type {
    color: #F2F2F2;
}

/* Css pour le contenu des card suggérées */

.content-suggest {
    grid-column: 4/5;
    height: 400px;
    background-color: #F2F2F2;
    width: 420px;
    height: 625px;
    border-radius: 20px;
}
.content-suggest-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 37px 0px 37px;
}
.content-suggest-title > h2 {
    font-size: 22px;
    font-weight: 700;
}
.fa-chart-line {
    color: #0065FC;
    font-size: 18px;
}
.suggest-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-suggest {
    background-color: white;
    width: 343px;
    height: 144px;
    margin-bottom: 33px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}
.card-suggest-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 22px 12px 15px;
}
.card-suggest-desc-title {
    margin: 0px 0px 5px 0px;
    font-size: 16px;
    font-weight: 700;
}
.card-suggest-desc > a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.card-suggest-desc-sub > span {
    font-size: 14px;
    font-weight: 400;
}
.card-suggest-desc-sub > a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.card-suggest-note > .fa-star {
    color: #0065FC;   
    font-size: 12px;
}
.card-suggest-note > .fa-star:last-of-type {
    color: #F2F2F2;
}

/* Css pour le contneu des cards activités */

.act-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.act-card {
    box-shadow: 0px 3px 15px 0px #0000001A;
    height: 444px;
    border-radius: 20px;
}
.act-desc {
    position: relative;
    top: -56px;
    background-color: white;
    height: 56px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.act-title {
    padding: 20px 0px 0px 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}
.act-card > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.act-desc > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* Css pour le footer */

.footer {
    height: 225px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #F2F2F2;
}
.footer-item {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    position: relative;
    left: -150px;
}
.footer-item-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-sub-item {
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* Css pour les mediaquerries */
/* vue tablet, générer dans l'ordre de défilement de la page */
@media screen and (max-width: 992px) {
    body {
        padding-left: 55px;
        padding-right: 55px;
    }
    .filter-item {
        margin-right: 20px;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-result-wrapper {
        width: 883px;
        margin-bottom: 53px;
    }
    .content-suggest {
        width: 883px;
        height: 278px;
    }
    .suggest-card-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .card-suggest {
        width: 252px;
    }
    #suggest-img-1 {
        content: url("../images/tablet/pop/card1.png");
    }
    #suggest-img-2 {
        content: url("../images/tablet/pop/card2.png");
    }
    #suggest-img-3 {
        content: url("../images/tablet/pop/card3.png");
    }
    .card-suggest-desc {
        margin: 12px 20px 12px 10px;
    }
    .card-suggest-desc-title {
        font-size: 14px;
    }
    .card-suggest-desc-sub > a > span {
        font-size: 13px;
    }
    .act-card {
        width: 182px;
        height: 267px;
    }
    .act-title {
        padding: 10px 15px 0px 15px;   
    }
    #act-img-1 {
        content: url("../images/tablet/act/card1.png");
    }
    #act-img-2 {
        content: url("../images/tablet/act/card2.png");
    }
    #act-img-3 {
        content: url("../images/tablet/act/card3.png");
    }
    #act-img-4 {
        content: url("../images/tablet/act/card4.png");
    }
    .footer-item {
        left: -50px;
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px) {
    body {
        padding: 0px;
    }
    .header {
        margin-top: 21px;
    }
    .nav {
        flex-direction: column;
    }
    .nav > div {
        text-align: center;
    }
    .nav-item {     
        border-bottom: #D9D9D9 solid 2px;
        width: 188px;
    }
    #nav-item-1 {
        padding: 0px 38px 12px 38px;
    }
    #nav-item-2 {
        padding: 0px 62px 12px 62px;
    }
    .nav-item:hover {
        color: #0065FC;
        border-bottom: 2px #0065FC solid;
        border-top: none;
        
    }
    .nav-container {
        margin-top: 55px;
        width: 100vw;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 375px;
        margin-top: 30px;
    }
    .menu-title-container {
        margin-left: 20px;
        margin-bottom: 40px;
    }
    .menu-title-container > h2 {
        width: 298px;
    }
    .filter-container {
        display: grid;
        grid-template-columns: 174px 1fr;
        grid-template-rows: auto;
        margin-left: 20px;
        row-gap: 15px;
        margin-bottom: 30px;
    }
    .filter-title {
        grid-row: 1;
        grid-column: 1/2;
    }
    #filter-1 {
        grid-row: 2;
        grid-column: 1/2;
    }
    #filter-2 {
        grid-row: 2;
        grid-column: 2/3;
    }
    #filter-3 {
        grid-row: 3;
        grid-column: 1/2;
    }
    #filter-4 {
        grid-row: 3;
        grid-column: 2/3;
    }
    .filter-item {
        width: 140px;
        display: flex;
        justify-content: flex-start;
        margin-right: 0px;
        padding: 0px 0px 0px 12px;
    }
    .filter-item > span {
        font-size: 11px;
    }
    .search-container {
        margin-left: 22px;
    }
    .search-button > span {
        display: none;
    }
    .fa-magnifying-glass {
        display: block;
        font-size: 16px;
    }
    .info-container {
        margin-left: 20px;
    }
    .info > span {
        position: relative;
        top: 10px;
    }
    .content-wrapper {
        flex-direction: column-reverse;
        height: fit-content;
    }
    .content-result {
        width: 100vw;
        background-color: white;
    }
    .content-result-title {
        text-align: center;
        font-size: 22px;
        width: 100vw;
        position: relative;
        left: -20px;
    }
    .card-row {
        flex-direction: column;
    }
    .content-result-wrapper {
        width: 100vw;
    }
    .content-suggest {
        width: 100vw;
        border-radius: 0px;
        height: 580px;
    }
    .suggest-card-wrapper {
        flex-direction: column;
        width: 100vw;
        height: auto;
    }
    #suggest-img-1 {
        content: url("../images/mobil/pop/card1.png");
    }
    #suggest-img-2 {
        content: url("../images/mobil/pop/card2.png");
    }
    #suggest-img-3 {
        content: url("../images/mobil/pop/card3.png");
    }
    .card-suggest {
        width: 334px;
        margin-bottom: 11px;
    }
    .content-suggest-title {
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .content-suggest-title > h2 {
        margin-right: 110px;
    }
    .card-suggest-desc-title {
        font-size: 16px;
    }
    .card-suggest-desc-sub > a > span {
        font-size: 14px;
    }
    .act-wrapper {
        width: 375px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer {
        width: 360px;
    }
}